@charset "UTF-8";
h2 {
	color: #49BE1B;
	font-weight: bold;
	background-color: #F8CEEC;
}
p {
	font-size: 20px;
	font-style: italic;
}
.footer-copyright {
	text-align: center;
	background-color: #303030;
	color: #F9F5F5;
	padding-top: 15px;
	font-style: normal;
}
.index-head-img{
	background-image: url(images/123.jpg);
	width: 100vw;
	height: 800px;
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
}
.gallery-head-img{
	background-image: url(images/045hallowen.png);
	width: 100vw;
	height: 500px;
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
}

.message-head-img{
	background-image: url(images/thumbnail_image4.jpg);
	width: 100vw;
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.life-head-img{
	background-image: url(images/thumbnail_image5.jpg);
	width: 100vw;
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.family-head-img{
	background-image: url(images/japanese-sky.jpg);
	width: 100vw;
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.country-head-img{
	background-image: url(images/viet\ nam\ map.jpg);
	width: 100vw;
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.col-xl-12{
	color: green;
	
}
.col-xl-4{
	padding: 40px;
}

.img-item{
	width: 100%;
	height: 600px;
}
